<!DOCTYPE html>
<html>
<head>
<title>Austin Ben</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="styles.css">
</head>
<body>


<!-- Header -->
<header style="max-width:1500px;" id="home">
  <img  src="https://media-exp2.licdn.com/dms/image/C5603AQGS3S_tAqD5wQ/profile-displayphoto-shrink_800_800/0/1643277651990?e=1663200000&v=beta&t=ufd_a68Cx5x92UDPqBQgq8_Cbk2oad_CjuKBIQ1tsaE" alt="austin" width="1500" height="800">
</header>


</body>
</html>
