<!DOCTYPE html>
<html>
<head>
  <title>Bustin Projects Home Page</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
</head>
<body>


<!-- Header -->
<header class="banner">
  <nav class="menu">
    <div class="logo">
      <h2>AZBH</h2>
    </div>
    <div class = "menu-area">
      <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="tierlist.html">Tierlist Maker</a></li>
        <li><a href="ai_test.html">AI Test</a></li>
      </ul>
    </div>
  </nav>

  <div class="banner-text">
    <p>Welcome to Ben & Austin's Playgroup</p>
    <h1> insert text </h1>
    <p>textextext</p>
    <a href="about.html">About Us</a>
  </div>

</header>



</body>
</html>
