<!DOCTYPE html>
<html>
<head>
  <title>Bustin Projects Home Page</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel= "stylesheet" type= "text/css" href= "../static/styles.css">
</head>
<body>


<!-- Header -->
<header style="max-width:1500px;" id="home">
  <!-- <img  src="https://media-exp2.licdn.com/dms/image/C5603AQGS3S_tAqD5wQ/profile-displayphoto-shrink_800_800/0/1643277651990?e=1663200000&v=beta&t=ufd_a68Cx5x92UDPqBQgq8_Cbk2oad_CjuKBIQ1tsaE" alt="austin" width="1500" height="800">-->
  <h1>Welcome to Beustin's Tools</h1>

</header>

<div class="table">
  <p>Feel Free to Look Around!</p>
</div>

<div class="menu">
  <a href="tierlist.html">
    <img src="https://i.kym-cdn.com/photos/images/newsfeed/001/490/407/7b4.png"
    width="800" height="500"/>
    <div class="centered_title">Tierlist</div>
  </a>
  <a href="ai_test.html"> 
    <img  src="https://img.etimg.com/thumb/msid-92062293,width-650,imgsize-57232,,resizemode-4,quality-100/from-diagnosis-to-treatment-from-prevention-to-therapeutics-artificial-intelligence-has-made-many-things-possible-which-had-been-absolutely-unachievable-before-.jpg"
    width="800" height="400">
    <div class="centered_title">AI Test</div>
  </a>
</div>



</body>
</html>
