<!DOCTYPE html>
<html>

<head>
  <title>Bustin Projects Home Page</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles.css') }}">
</head>

<body>

<div class="container">
    <img src="https://media-exp2.licdn.com/dms/image/C5603AQGS3S_tAqD5wQ/profile-displayphoto-shrink_800_800/0/1643277651990?e=1663200000&v=beta&t=ufd_a68Cx5x92UDPqBQgq8_Cbk2oad_CjuKBIQ1tsaE" alt="Austy" style="width:100%" height="400">
    <div class="centered_title">Tierlist Maker</div>
  </div>

</body>
</html>
